USE [master]
GO
/****** Object:  Database [jwt_auth]    Script Date: 11/7/2020 10:13:38 PM ******/
CREATE DATABASE [jwt_auth]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'jwt_auth', FILENAME = N'H:\WebMonitor24\Microservices\JWT-Auth.Microservice\LocalDB\jwt_auth.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'jwt_auth_log', FILENAME = N'H:\WebMonitor24\Microservices\JWT-Auth.Microservice\LocalDB\jwt_auth_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [jwt_auth].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [jwt_auth]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 11/7/2020 10:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Applications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SecurityType]    Script Date: 11/7/2020 10:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SecurityType](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_SecurityType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Token]    Script Date: 11/7/2020 10:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Token](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[SecurityTypeId] [tinyint] NOT NULL,
	[TokenKey] [nvarchar](max) NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[SystemName] [varchar](50) NULL,
	[IP] [nvarchar](50) NULL,
	[BrowserCapabilities] [nvarchar](max) NULL,
	[Audience] [nvarchar](max) NULL,
	[Issuer] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletedDate] [datetime] NULL,
 CONSTRAINT [PK_Tokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/7/2020 10:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ApplicationId] [int] NOT NULL,
	[FirstName] [nvarchar](20) NULL,
	[MiddleName] [nvarchar](20) NULL,
	[LastName] [nvarchar](20) NULL,
	[PicturePath] [varchar](100) NULL,
	[Email] [nvarchar](30) NOT NULL,
	[Username] [varchar](30) NULL,
	[Password] [nvarchar](30) NOT NULL,
	[Mobile] [varchar](20) NULL,
	[Phone] [varchar](20) NULL,
	[Birthdate] [date] NULL,
	[IsApproved] [bit] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastPasswordChangedDate] [datetime] NOT NULL,
	[FailedPasswordAttemptCount] [tinyint] NOT NULL,
	[Comments] [nvarchar](200) NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserField]    Script Date: 11/7/2020 10:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserField](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[FieldTypeName] [varchar](30) NOT NULL,
	[FieldData] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_UserField] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 11/7/2020 10:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_UserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserUserRole]    Script Date: 11/7/2020 10:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserUserRole](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[UserRoleId] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_UserUserRole] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([Id], [Name], [Description], [CreateDate]) VALUES (1, N'Wizdi', NULL, CAST(N'2020-05-11T17:23:03.147' AS DateTime))
INSERT [dbo].[Applications] ([Id], [Name], [Description], [CreateDate]) VALUES (2, N'WebMonitor', NULL, CAST(N'2020-05-11T17:24:12.300' AS DateTime))
SET IDENTITY_INSERT [dbo].[Applications] OFF
SET IDENTITY_INSERT [dbo].[SecurityType] ON 

INSERT [dbo].[SecurityType] ([Id], [Name], [CreateDate]) VALUES (1, N'Aes128', CAST(N'2020-05-14T10:16:17.073' AS DateTime))
INSERT [dbo].[SecurityType] ([Id], [Name], [CreateDate]) VALUES (2, N'Aes192', CAST(N'2020-05-14T10:16:20.563' AS DateTime))
INSERT [dbo].[SecurityType] ([Id], [Name], [CreateDate]) VALUES (3, N'Aes256', CAST(N'2020-05-14T10:16:24.557' AS DateTime))
SET IDENTITY_INSERT [dbo].[SecurityType] OFF
SET IDENTITY_INSERT [dbo].[Token] ON 

SET IDENTITY_INSERT [dbo].[Token] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [ApplicationId], [FirstName], [MiddleName], [LastName], [PicturePath], [Email], [Username], [Password], [Mobile], [Phone], [Birthdate], [IsApproved], [IsLocked], [IsActive], [LastPasswordChangedDate], [FailedPasswordAttemptCount], [Comments], [CreateDate]) VALUES (1, 1, N'Test1', NULL, NULL, NULL, N'test@test.com', N'test1', N'123456', NULL, NULL, NULL, 1, 0, 1, CAST(N'2020-05-13T17:17:02.120' AS DateTime), 0, NULL, CAST(N'2020-05-13T17:17:02.120' AS DateTime))
INSERT [dbo].[User] ([Id], [ApplicationId], [FirstName], [MiddleName], [LastName], [PicturePath], [Email], [Username], [Password], [Mobile], [Phone], [Birthdate], [IsApproved], [IsLocked], [IsActive], [LastPasswordChangedDate], [FailedPasswordAttemptCount], [Comments], [CreateDate]) VALUES (5, 1, N'test1', N'one', N'test last', N'pic', N'email', N'test2', N'123456', N'088888', N'054111111', NULL, 0, 0, 1, CAST(N'2020-05-14T13:09:33.803' AS DateTime), 0, N'com', CAST(N'2020-05-14T13:09:33.807' AS DateTime))
INSERT [dbo].[User] ([Id], [ApplicationId], [FirstName], [MiddleName], [LastName], [PicturePath], [Email], [Username], [Password], [Mobile], [Phone], [Birthdate], [IsApproved], [IsLocked], [IsActive], [LastPasswordChangedDate], [FailedPasswordAttemptCount], [Comments], [CreateDate]) VALUES (7, 1, N'test1', N'one', N'test last', N'pic', N'email', N'test2', N'123456', N'088888', N'054111111', NULL, 0, 0, 1, CAST(N'2020-05-14T13:27:52.577' AS DateTime), 0, N'com', CAST(N'2020-05-14T13:27:52.577' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserField] ON 

INSERT [dbo].[UserField] ([Id], [UserId], [FieldTypeName], [FieldData], [CreateDate]) VALUES (1, 18, N'childs', N'3', CAST(N'2020-05-14T17:04:23.900' AS DateTime))
INSERT [dbo].[UserField] ([Id], [UserId], [FieldTypeName], [FieldData], [CreateDate]) VALUES (2, 18, N'WifeName', N'Elina', CAST(N'2020-05-14T17:04:23.900' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserField] OFF
SET IDENTITY_INSERT [dbo].[UserRole] ON 

INSERT [dbo].[UserRole] ([Id], [Name], [Description], [CreateDate]) VALUES (1, N'Admin', NULL, CAST(N'2020-05-14T10:31:28.237' AS DateTime))
INSERT [dbo].[UserRole] ([Id], [Name], [Description], [CreateDate]) VALUES (2, N'Editor', NULL, CAST(N'2020-05-14T10:31:33.870' AS DateTime))
INSERT [dbo].[UserRole] ([Id], [Name], [Description], [CreateDate]) VALUES (3, N'Student', NULL, CAST(N'2020-05-14T10:31:50.350' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserRole] OFF
SET IDENTITY_INSERT [dbo].[UserUserRole] ON 

INSERT [dbo].[UserUserRole] ([Id], [UserId], [UserRoleId], [CreateDate]) VALUES (1, 1, 1, CAST(N'2020-05-14T10:32:15.710' AS DateTime))
INSERT [dbo].[UserUserRole] ([Id], [UserId], [UserRoleId], [CreateDate]) VALUES (2, 1, 2, CAST(N'2020-05-14T10:32:18.940' AS DateTime))
INSERT [dbo].[UserUserRole] ([Id], [UserId], [UserRoleId], [CreateDate]) VALUES (3, 1, 3, CAST(N'2020-05-14T10:32:21.457' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserUserRole] OFF
ALTER TABLE [dbo].[Applications] ADD  CONSTRAINT [DF_Applications_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[SecurityType] ADD  CONSTRAINT [DF_SecurityType_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Token] ADD  CONSTRAINT [DF_Tokens_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Token] ADD  CONSTRAINT [DF_Tokens_DeletedDate]  DEFAULT (NULL) FOR [DeletedDate]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsApproved]  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsLocked]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_LastPasswordChangedDate]  DEFAULT (getdate()) FOR [LastPasswordChangedDate]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_FailedPasswordAttemptCount]  DEFAULT ((0)) FOR [FailedPasswordAttemptCount]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[UserField] ADD  CONSTRAINT [DF_UserField_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[UserRole] ADD  CONSTRAINT [DF_UserRole_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[UserUserRole] ADD  CONSTRAINT [DF_UserUserRole_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Token]  WITH CHECK ADD  CONSTRAINT [FK_Token_SecurityType] FOREIGN KEY([SecurityTypeId])
REFERENCES [dbo].[SecurityType] ([Id])
GO
ALTER TABLE [dbo].[Token] CHECK CONSTRAINT [FK_Token_SecurityType]
GO
ALTER TABLE [dbo].[Token]  WITH CHECK ADD  CONSTRAINT [FK_Token_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Token] CHECK CONSTRAINT [FK_Token_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Applications] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Applications] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Applications]
GO
ALTER TABLE [dbo].[UserField]  WITH CHECK ADD  CONSTRAINT [FK_UserField_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserField] CHECK CONSTRAINT [FK_UserField_User]
GO
ALTER TABLE [dbo].[UserUserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserUserRole_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserUserRole] CHECK CONSTRAINT [FK_UserUserRole_User]
GO
ALTER TABLE [dbo].[UserUserRole]  WITH CHECK ADD  CONSTRAINT [FK_UserUserRole_UserRole] FOREIGN KEY([UserRoleId])
REFERENCES [dbo].[UserRole] ([Id])
GO
ALTER TABLE [dbo].[UserUserRole] CHECK CONSTRAINT [FK_UserUserRole_UserRole]
GO
USE [master]
GO
